.calendar {
	top: 0em;
	left: 1em;
	padding-top: 5px;
	width: 80px;
	background: #ededef;
	font-size: 54px;
	text-align: center;
	color: #000;
	border-radius: 3px;
	position: absolute;
	z-index: -2;
}

.calendar em {
	display: block;
	font-size: 15px;
	color: #fff;
	background: #04599a;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}

.calendar:before,
.calendar:after {
	position: absolute;
	content: "";
	float: left;
	width: 8px;
	height: 8px;
	background: #111;
	z-index: -1;
	border-radius: 10px;
	box-shadow: 0 1px 1px #fff;
}

.calendar {
}

.calendar:before {
	left: 11px;
}
.calendar:after {
	right: 11px;
}

.hooks em:before,
.hooks em:after {
	content: "";
	float: left;
	margin-left: 58px;
	margin-top: 32px;
	width: 4px;
	height: 14px;
	background: rgb(214, 211, 211);
	border-radius: 20px;
	z-index: 2;
}
.hooks em:before {
	left: 13px;
	z-index: 2;
}
.hooks em:after {
	margin-left: 47px;
	z-index: 2;
}
